  <h2 id="cohorts-main-hdr"> <%= @cohort.name %> </h2>

<!-- <div>
  <% @cohort.users.each do |user| %>
  <table>
    <% user.plusones_sorted_by_time(current_date).each do |plusone|%>
      <tr>
      <td id="post-info"> <%= user.username %> </td>
      <td id="post-info"> <%= plusone.description %> </td>
      <th id="post-info"> <%= plusone.score %> </th>
      </tr>
    <% end %>
  </table>
  <% end %>
</div> -->
<hr>
<h3 id="cohorts-hdr"> List of today's acitivities </h3>
<hr>
<% @cohort.all_users_plusones_sorted_by_time(current_date).each do |plusone|%>
<div id="cohorts-activities">
<p><strong><%= plusone.user.username %></strong></p>
  <p><strong>Description: </strong><%= plusone.description %> </p>
  <p><strong>Created at: </strong><%= plusone.created_at %> </p>
</div>
<hr>
<% end %> 

<hr>
<p id="weekly-win-loss"><strong>Best of the week:</strong> <%= @cohort.weekly_best(current_week) %> </p>
<p id="weekly-win-loss"><strong>Worst of the week:</strong> <%= @cohort.weekly_worst(current_week) %> </p>

<hr>
<div class="table-responsive" id="table-style">
  <table class="table">
      <tr>
        <th id="cohort-table-header"> Date </th>
          <% for day in 0..6 do%>
            <th><a href="/cohorts/<%= @cohort.id %>/<%= Date.commercial(2015, current_week, day + 1).to_date.strftime("%y%m%d") %>"> <%= Date.commercial(2015, current_week, day + 1).strftime("%B %d") %></a> </th>
          <% end %>
        <th> Total </th>
      </tr>
    <% @cohort.users.each do |user| %>  
      <tr>
        <th> <%= user.username %> </th>
          <% for day in 0..6 do %>
            <% unless user.week_scores(current_week)[day].nil? %>
              <td id="cohorts-user-score"><button type="button" class="btn btn-success"><a href="/users/<%=user.id%>/plusones/<%= Date.commercial(2015, current_week, day + 1).to_date.strftime("%y%m%d") %>"> <%= user.week_scores(current_week)[day] %> </a></button></th> 
            <% else %>
              <td> - </td> 
            <% end %>
          <% end %>
        <th> <%= user.weekly_total_score(current_week) %> </th>
      </tr>
    <% end %>
  </table>
</div>