<div class="well well-lg" id="cohorts-hdr-background">
  <h2 id="cohorts-main-hdr"> <%= @cohort.name %> </h2>
</div>

<hr>

<h3 id="cohorts-hdr-activities">List of today's acitivities</h3>

<div class="row">
  <% @cohort.all_users_plusones_sorted_by_time(current_date).last(6).each do |plusone| %>
    <div class="col-sm-6 col-md-4" id="cohorts-user-activities">
      <% if plusone.score > 0 %>
      <div class="panel panel-success">
        <div class="panel-heading"><%= plusone.user.username %> +<%= plusone.score %></div>
        <p>Description: <%= plusone.description %></p>
        <p>Created at: <%= plusone.created_at.strftime("%b %e at %l:%m %p") %></p>
      </div>
      <% elsif plusone.score < 0 %>
      <div class="panel panel-danger">
        <div class="panel-heading"><%= plusone.user.username %> <%= plusone.score %></div>
        <p>Description: <%= plusone.description %></p>
        <p>Created at: <%= plusone.created_at.strftime("%b %e at %l:%m %p") %></p>
      </div>
      <% else %>
      <div class="panel panel-info">
        <div class="panel-heading"><%= plusone.user.username %> <%= plusone.score %></div>
        <p>Description: <%= plusone.description %></p>
        <p>Created at: <%= plusone.created_at.strftime("%b %e at %l:%m %p") %></p>
      </div>
      <% end %>
    </div>
  <% end %> 
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-4" id="cohort-winner-loser">
    <div class="thumbnail">
      <img src="/images/users/<%= @cohort.weekly_best(current_week).id %>/default-user.png" alt="best">
      <div class="caption">
        <h3>Best of the week</h3>
        <p><%= @cohort.weekly_best(current_week).username %></p>
        <p>
          <a href="/users/<%= @cohort.weekly_best(current_week).id %>" class="btn btn-primary" role="button">
            <%= @cohort.weekly_best(current_week).username %>
          </a>
        </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/users/<%= @cohort.weekly_worst(current_week).id %>/default-user.png" alt="worst">
      <div class="caption">
        <h3>Worst of the week</h3>
        <p><%= @cohort.weekly_worst(current_week).username %></p>
        <p>
          <a href="/users/<%= @cohort.weekly_worst(current_week).id %>" class="btn btn-primary" role="button">
            <%= @cohort.weekly_worst(current_week).username %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="table-responsive" id="table-style">
  <table class="table">
    <tr>
      <th>Date</th>
      <% for day in 0..6 do%>
      <th>
        <a href="/cohorts/<%= @cohort.id %>/<%= Date.commercial(2015, current_week, day + 1).to_date.strftime("%y%m%d") %>"> 
          <%= Date.commercial(2015, current_week, day + 1).strftime("%B %d") %>
        </a> 
      </th>
      <% end %>
      <th>Total</th>
    </tr>
    <% @cohort.users.each do |user| %>  
    <tr>
      <th> <%= user.username %> </th>
      <% for day in 0..6 do %>
      <% unless user.week_scores(current_week)[day].nil? %>
      <td> 
        <a href="/users/<%=user.id%>/plusones/<%= Date.commercial(2015, current_week, day + 1).to_date.strftime("%y%m%d") %>"> 
          <% if user.week_scores(current_week)[day] <= 0 %>
          <%= user.week_scores(current_week)[day] %>
          <% else %>
          +<%= user.week_scores(current_week)[day] %>
          <% end %> 
        </a>
      </td> 
      <% else %>
      <td> - </td> 
      <% end %>
      <% end %>
      <th> 
        <% if user.weekly_total_score(current_week) <= 0 %>
        <%= user.weekly_total_score(current_week) %>
        <% else %>
        +<%= user.weekly_total_score(current_week) %>
        <% end %> 
      </th>
    </tr>
    <% end %>
  </table>
</div>