<h2> <%= @user.username %> </h2>

<div>
  <table>
    <% @user.plusones_sorted_by_time(current_date).each do |plusone|%>
      <tr>
      <td id="post-info"> <%= plusone.user.username %> </td>
      <td id="post-info"> <%= plusone.description %> </td>
      <th id="post-info"> <%= plusone.score %> </th>
      <!-- <p> <%= plusone.created_at %> </p> -->
      </tr>
    <% end %>
  </table>
</div>

<hr>
<p> </p>

<hr>
<div class="table-responsive" id="table-style">
  <table class="table">
    <tr>
      <th> Date </th>
        <% for day in 0..6 do%>
          <th><a href="/users/<%=@user.id%>/plusones/<%= Date.commercial(2015, current_week, day + 1).to_date.strftime("%y%m%d") %>"> <%= Date.commercial(2015, current_week, day + 1).strftime("%B %d") %></a> </th>
        <% end %>
      <th> Total </th>
    </tr>
    <tr>
      <th> Score </th>
        <% for day in 0..6 do %>
          <% unless @user.week_scores(current_week)[day] == 0 %>
            <td> <%= @user.week_scores(current_week)[day] %> </th> 
          <% else %>
            <td> - </td> 
          <% end %>
        <% end %>
      <td id="table-username"> <%= @user.weekly_total_score(current_week) %> </td>
    </tr>
  </table>
</div>
<!-- <p> <%= @user.week_scores(current_week) %> </p> -->

<h3> Cohorts </h3>
<% @user.cohorts.each do |cohort|%>
  <p><a href="/cohorts/<%= cohort.id %>/index"> <%=cohort.name%> </p>
<% end %>