<h1>Summary Page</h1>
<br>

<p> <%= @user.username %> </p>

<% @plusones.each do |plusone|%>
  <p> <%= plusone.activity.description unless plusone.activity.nil?%></p>
  <p> <%= plusone.score %> </p>
<% end %>

<hr>
<p> </p>

<hr>
<table border="1">
  <tr>
    <th> Date </th>
      <% for day in 0..6 do%>
        <td style="Padding: 5px"> <%= Date.commercial(2015, current_week, day + 1) %> </th>
      <% end %>
    <th> Total </th>
  </tr>
  <tr>
    <th> Score </th>
      <% for day in 0..6 do %>
        <% unless @user.week_scores(current_week)[day].nil? %>
          <td style="Padding: 5px"> <%= @user.week_scores(current_week)[day] %> </th> 
        <% else %>
          <td style="Padding: 5px"> - </th> 
        <% end %>
      <% end %>
    <td> <%= @user.weekly_total_score(current_week) %> </td>
  </tr>
</table>
<p> <%= @user.week_scores(current_week) %> </p>

<hr>

<% @user.plusones_sorted_by_time(current_date).each do |plusone|%>
  <p> <%= plusone.description %> </p>
  <p> <%= plusone.score %> </p>
  <p> <%= plusone.created_at %> </p>
  <% end %>