<h2 id="current-user-name"><%= current_user.username %></h2>
<div class="table-responsive" id="table-style">
 <table class="table">
   <tr>
     <th>Username</th>
     <th>Sunday</th>
     <th>Monday</th>
     <th>Tuesday</th>
     <th>Wednesday</th>
     <th>Thursday</th>
     <th>Friday</th>
     <th>Saturday</th>
     <th>Total</th>
   </tr>
   <% User.all.each do |user| %>
   <tr>
    <td id="table-username"><%= user.username %></td>
    <% user.plusones.each do |p_one| %>
    <td id="table-score-data">
      <a href="/plusones">
        <button type="button" class="btn btn-success">
          <em><strong>
            <% if p_one.score < 0 %>
              <%= p_one.score %>
            <% else %>
              +<%= p_one.score %>
            <% end %>
          </strong></em>
        </button>
      </a>
    </td>

    <% end %>
    <td id="table-score-total">
      <% if user.total_score < 0 %>
      <%= user.total_score %>
      <% else %>
      +<%= user.total_score %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>

